

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'LeeSeoyun';
    margin: 0
}

#main-wrapper {

    h1{
        font-size: 80px;
    }

    button {
        font-size: 30px;
    }

    position: fixed;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    background-color: rgb(241, 234, 214);
}

#title-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    color: rgb(50, 44, 66);
}

#button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}